<h1>WELCOME TO THE MONSTER SHOP</h1>
<img src="https://clickamericana.com/wp-content/uploads/Monster-Mash-How-the-hit-song-by-Bobby-Boris-Pickett-came-to-be-and-became-a-huge-hit-750x500.jpg" alt="monster_mash">
