<%= link_to 'New Merchant', '/merchants/new' %>
<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>'>
    <h2><%= link_to merchant.name, "/merchants/#{merchant.id}" %></h2>
  </section>
<% end %>
