<h2>Bulk Discounts</h2>
<% @discounts.each do |discount| %>
<section class="discount-<%= discount.id %>">
  <p>Discount ID: <%= discount.id %></p>
  <p>Percent Off: <%= number_to_percentage(discount.percent, strip_insignificant_zeros: true) %></p>
  <p>Required Item Quantity: <%= discount.quantity %> units</p>
</section>
<br>
<% end %>
