<% @discounts.each do |discount| %>
<h2><%= link_to discount.title %></h2>
<p>Information: <%= discount.information %></p>
<p>Percent off: <%= discount.percent_off %></p>
<p>Amount of products needed to get discount: <%= discount.discount_range %></p>
<%  end %>
