
<h1>My Discounts</h1>
<p><%= link_to 'New Discount', '/merchant/discounts/new' %></p>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id%>">
    <p><%= link_to discount.name, "/merchant/discounts/#{discount.id}", method: :get %></p>
  </section>
<% end %>
