<h1>Available Discounts</h1>

<%= link_to "Create New Discount", "/merchant/discounts/new" %>
  <br/>
  <br/>
<% @discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
  <p><%= link_to "#{discount.percentage}% discount if you buy at least #{discount.bulk} items", "/merchant/discounts/#{discount.id}" %><p/>
  </section>
<% end %>
