
<h2><%= @discount.name %></h2>
<p><%= "Discounted percentage: #{@discount.percentage}" %></p>
<p><%= "Minimum number of items to qualify: #{@discount.minimum_quantity}" %></p>

<%= link_to 'Update Discount', "/merchant/discounts/#{@discount.id}/edit" %>
