<% @discounts.each do |discount| %>
  <section id = "discount-<%= discount.id %>">
    <h2>Discount #<%= discount.id %></h2>
    <p>Percent Off: <%= discount.percent_off %>%</p>
    <p>Minimum Quantity: <%= discount.minimum_quantity %></p>
    <hr>
  </section>
<% end %>